.first-word {
font-size: medium;
font-weight: bold;
/*color: white;*/
padding: 0 10px;
margin: 10px 0;
}

/*
ion-content {
    --ion-background-color: #0f0f0f;
} */
  
ion-card-title {
    --color: red;
}

p {
    font-size: medium;
}